.login-form {
    justify-content: center;
    min-height: 90vh;
}

.login-background {
    justify-content: center;
    min-height: 30vh;
    padding: 50px;
    z-index: 1;
}

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 0; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}